.sign-area{
    margin-top: 75px;
   background-image: url(https://i.ibb.co/wgtZkSc/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background.jpg);
    color: #ffffff;
    background-position: center;
    background-size: cover;
    background-color: #0d1e50;
}
.sign-area h2{
    color: #ffffff;
}
.sign-area p{
    color: #ffffff;
    margin-bottom: 10px;
}
.sign-area .nav-link.reg-link {
    display: inline-block;
    color: #3d3;
   text-decoration: underline;
    margin: 5px;
}
.nav-link.reg-link:hover{
    color: #ff3e55;
}
.sign-area button{
    background-color: #ff3e55;
    color: #ffffff;
    border: none;
}
.sign-area button:hover{
    background-color: #ffffff;
    color: #ff3e55;
}
.sign-area #message-div{
    color: red;
    min-height: 24px;
}
.sign-in-area{
   padding: 30px 0;
    border-radius: 10px;
}
.sign-form{
    background-color: #0d1e50;
    padding: 20px 25px;
    border-radius: 10px;
}

@media (max-width:991px){
    .sign-in-area{
      padding: 60px 0;
    }
}


