.sign-area{
    margin-top: 75px;
   background-image: url(https://i.ibb.co/wgtZkSc/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background.jpg);
    color: #ffffff;
    background-position: center;
    background-size: cover;
    background-color: blue;
}
.sign-area h2{
    color: #ffffff;
}
.sign-area .nav-link.reg-link {
    display: inline-block;
    background-color: #ff3e55;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}
.nav-link.reg-link:hover{
    background-color: #ffffff;
    color: #ff3e55;
}
.sign-area span{
    margin-right: 10px;
}
.sign-area button{
    background-color: #ff3e55;
    color: #ffffff;
    border: none;
}
.sign-area button:hover{
    background-color: #ffffff;
    color: #ff3e55;
}
.sign-area #message-div{
    margin-bottom: 20px;
    color: red;
}
.sign-in-area{
   padding: 20px 0;
    border-radius: 10px;
}


