.sub-header{
    position: relative;
}

.sub-header img{
    width: 100%;
    height: calc(100vh - 50px);
    /* height: 500px; */
}
.sub-header::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #0e1531;
    opacity: 0.60;
}
.sub-text{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translateX(-50%) !important;
    transform: translateY(-50%);
}
.sub-text h2{
    color: #ffffff;
    text-align: center;
}
.sub-text span{
    color: #ff3e55;
}

@media (max-width:1199px){
    .sub-header img{
        height: calc(100vh - 100px);
    }

}

@media (max-width:575px){
.sub-header img{
    height: 300px;
}
.sub-text{
    top:40% ;
}
.sub-text h2{
    font-size: 20px;
}
    
}
