.header-area{
    background-color: #0D1E50;
}
.header-area .navbar-brand img{
    height: auto;
    width: 100px;
}
.navbar-nav{
    align-items: center;
}
.header-area .nav-link{
    color: #ffffff !important;
}
.navbar-nav a{
    color: #ffffff;
}.navbar-nav a:hover{
    color: #FF3E55 !important;
}
.navbar-nav .nav-link.active{
    color: #FF3E55 !important;
}
.navbar-nav .nav-link:last-child.active{
    color: #FF3E55 !important;
    background-color: #ffffff;
}
.header-sign{
    background-color: #FF3E55;
    border: none;
    padding: 5px 10px !important;
    border-radius: 5px;
}
.header-sign:hover{
    background-color: #ffffff;
    color: #FF3E55;
}

.navbar-toggler-icon{
    border-radius: 5px;
    background-color: #ffffff;
    height: 45px !important;
    width: 45px !important;

}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.sign-out-button{
    background-color: #FF3E55 !important;
    border: none !important;
}


@media (max-width:991px){
    .navbar-nav .nav-link{
        text-align: center;
        margin-right: 0 !important;
    }
    .navbar-nav button{
        margin-top: 5px;
    }
    .header-sign{
        margin-top: 10px;
        width: 100%;
    }
}
