.footer-top{
    padding: 50px 0;
    background-color: #0d1e50;
    color: #ffffff;
    background-image: url(https://elementor.zozothemes.com/corpkit/wp-content/uploads/sites/45/2021/08/footer-bg-1.png);
    background-size: cover;
}
.top-one{
    margin-right: 100px;
}
.top-one i{
    font-size: 30px;
    margin-right: 20px;
    text-decoration: none;
    color: #ffffff;
    padding-top: 10px;
}
.top-one .facebook-icon{
    background-color: #FF3E55;
    padding: 3px 10px;
}
.top-one .instagram-icon{
    margin-right: 0;
}
.top-two ul{
    padding-left: 0;
}
.top-two ul li{
    margin-bottom: 10px;
    list-style: none;
}
.footer-top h3{
    position: relative;
    padding-bottom: 20px;
    color: #ffffff;
}
.footer-top h3::before{
    content: "";
    width: 50%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #0b2f6e71;
}
.footer-top h3::after{
    content: "";
    width: 40px;
    height: 2px;
    left: 0 !important;
    bottom: 0;
    left: inherit;
    position: absolute;
    z-index: 1;
    background-color: #FF3E55;
}
.footer-top p{
    color: #ffffff;
}
.footer-top button{
    background-color: #FF3E55;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #ffffff;
    transition: 0.3s;
}
.footer-top button:hover{
    background-color: #ffffff;
    color: #FF3E55;
}

@media (max-width:991px){
    .top-one{
        margin-bottom: 30px;
    }
    .top-two{
        margin-bottom: 30px;
    }
    .top-three{
        margin-bottom: 30px;
    }
}

@media (max-width:575px){
    .footer-top{
        text-align: center;
    }
    .top-one{
        margin-right: 0;
    }
    .footer-top h3::before{
        left: 50%;
        transform: translateX(-50%);
    }
    .footer-top h3::after{
        left: 20% !important;
    }
}