.slider-area{
    padding-top: 86px;
    position: relative;
}

.carousel-item img{
    max-height: calc(100vh - 98px);
}

.carousel-control-prev-icon{
    background-color: #FF3E55;
    border-radius: 50%;
    padding: 10px;
    width: 3rem !important;
    height: 3rem !important;
    z-index: 777 !important;
}
.carousel-control-next-icon{
    background-color: #FF3E55;
    border-radius: 50%;
    padding: 10px;
    width: 3rem !important;
    height: 3rem !important;
}
.carousel-caption{
    bottom: 12.2rem !important;
    padding: 10px 15px;
    opacity: 1;
}
.carousel-caption h5{
    color: #FF3E55;
    margin-bottom: 20px;
}

.carousel-caption h3{
    text-transform: uppercase;
    font-size: 30px;
    color: #ffffff;
    background: rgb(13,30,80);
background: linear-gradient(90deg, rgba(13,30,80,0.9249824929971989) 0%, rgba(255,62,85,1) 100%);
}
.carousel-caption p{
    font-size: 30px;
    color: #ffffff;
    line-height: 1.3;
}

@media (max-width:1499px){
    .carousel-item img{
        min-height: calc(100vh + 90px);
    }
}
@media (max-width:1499px){
    .carousel-item img{
        min-height: calc(100vh - 90px);
    }
}

@media (max-width:1199px){
    .carousel-item img{
        min-height: calc(100vh + 90px);
    }
    .carousel-item h3{
        font-size: 30px;
    }
}

@media (max-width:991px){
    .carousel-item img{
        min-height: 100vh;
    }
}

@media (max-width:769px){
    .carousel-item img{
        min-height: calc(100vh - 86px);
    }
    .carousel-caption{
        bottom: 6.5rem !important;
    }
    .carousel-caption h5{
        font-size: 14px;
    }
    .carousel-caption h3{
        font-size: 20px;
    }
    .carousel-caption p{
        font-size: 13px;
        margin-bottom: 0 !important;
    }
    .carousel-indicators{
        bottom: -13px !important;
    }
}

@media (max-width:575px){
    .carousel-item img{
        min-height: calc(100vh - 500px);
    }
    .carousel-caption{
        bottom: 5rem !important;
    }
    .carousel-caption h5{
        font-size: 12px;
    }
    .carousel-caption h3{
        font-size: 14px;
    }
}