
.reg-area{
    margin-top: 75px;
    background-image: url(https://i.ibb.co/wgtZkSc/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background.jpg);
    color: #ffffff;
    background-position: center;
    background-size: cover;
    background-color: blue;
}
.reg-area h2{
    color: #ffffff;
}
.registration-form{
    background-color: #0d1e55;
    padding: 20px 20px;
    border-radius: 10px;
}
.reg-area .nav-link.reg-link {
    display: inline-block;
    color: #ffffff;
    margin: 5px;
    color: blue;
    text-decoration: underline;
}
.reg-area .nav-link.reg-link:hover{
    color: #ff3e55;
}
.reg-area p{
    color: #ffffff;
}
.reg-area button{
    background-color: #ff3e55;
    color: #ffffff;
    border: none;
}
.reg-area button:hover{
    background-color: #ffffff;
    color: #ff3e55;
}
.reg-area #message-div{
    color: red;
    min-height: 24px;
}
.reg-in-area{
    padding: 20px 0;
}
.or-style{
    display: block;
    text-align: center;
    margin-top: 15px;
    padding: 5px 0;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 15px;
    color: #ff3e55;
}


@media (max-width:991px){
    .reg-in-area{
        padding: 60px 0;
    }
}